<app-header></app-header>
<h1>Pass Data from Parent to Child in Angular</h1>
<!-- With String -->
<h2>{{name}}</h2>
<h2>{{name | uppercase}}</h2>
<h2>{{name | lowercase}}</h2>
<h2>{{name | titlecase}}</h2>

<!-- With Date -->
<h3>{{today}}</h3>
<h3>{{today | date}}</h3>
<h3>{{today | date : 'fullDate'}}</h3>

<!-- With String -->
<h4>{{str}}</h4>
<h4>{{str | slice:2}}</h4>
<h4>{{str | slice:2:6}}</h4>

<!-- With Currency -->
<h5>{{money}}</h5>
<h5>{{money | currency:"USD"}}</h5>
<h5>{{money | currency:"INR"}}</h5>

<!-- <app-user (parentFunction)="parentFunction($event)"></app-user> -->

<app-footer></app-footer>