<h1>Simple Form in Angular</h1>

<form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
    <input type="text" ngModel name="user" id="user" placeholder="Enter user Name">
    <br><br>
    <input type="text" ngModel name="age" id="age" placeholder="Enter user Age">
    <br><br>
    <input type="text" ngModel name="address" id="address" placeholder="Enter user Address">
    <br><br>
    <input type="password" ngModel name="password" id="password" placeholder="Enter user password">
    <br><br>
    <button>Get User Values</button>
</form>